#App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 96vh;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
}

#PasswordSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}