#App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 96vh;
}

#PasswordSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}